<!-- Registration form -->
<div ng-controller="ClientCtrl">
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>

            <h1 class="header center orange-text">Welcome</h1>

            <div class="row center">
                <h5 class="header col s12 light">Please fill the registration form</h5>
            </div>
            <div class="row center">
                <form class="col s12">
                    <div class="row">

                        <div input-field>
                            <i class="material-icons prefix">account_circle</i>
                            <input type="text" ng-model="registrationInfo.name" length="150" required>
                            <label>Your name</label>
                        </div>
                    </div>
                    <div class="row">
                        <select id="lang" class="" ng-model="registrationInfo.lang" material-select>
                            <option ng-repeat="value in langList" value="{{value.key}}">{{value.lang}}</option>
                        </select>

                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <button ng-click="connect()" class="waves-effect waves-light btn"><i
                                    class="material-icons left">play_circle_outline</i>Start
                            </button>
                        </div>

                    </div>
                </form>
            </div>
            <br><br>

        </div>
    </div>
