<div layout="column" class=" md-padding">
    <p class="md-body-2  md-padding" style="color:gray;" >
        "... because that every man heard them speak in his  <span style="color: darkred;">own language.</span> And they were all amazed and marvelled, saying one to another, Behold, are not all these which speak Galilaeans? And how hear we every man in our own tongue, wherein we were born? Parthians, and Medes, and Elamites, and the dwellers in Mesopotamia, and in Judaea, and Cappadocia, in Pontus, and Asia, Phrygia, and Pamphylia, in Egypt, and in the parts of Libya about Cyrene, and strangers of Rome, Jews and proselytes, Cretes and Arabians, we do hear them speak in our tongues the <span style="color: darkred;">wonderful works of God.</span>" <small>Acts 2,6-11</small>
    </p>

    <hr>
    <p class="md-body-2  md-padding" style="color:gray; text-align: right;">Powered by <a href="http://translate.yandex.com/" style="color:gray;">Yandex</a>.Translate</p>
</div>