<nav class="light-blue lighten-1" role="navigation" ng-controller="NavCtrl">
    <div class="nav-wrapper container"><a id="logo-container" ng-href="" class="brand-logo">J316 Translator</a>
        <ul class="right hide-on-med-and-down">
            <li><a ng-class="isOnline()?'green':'orange'"
                    tooltipped data-position="bottom" data-delay="50" data-tooltip="Indicates your current online status"
                   href=""><i class="material-icons">call</i></a></li>
            <li ng-if="isOnline()"><a tooltipped data-position="bottom" data-delay="50" data-tooltip="Ask a question or help" href=""><i
                    class="material-icons">question_answer</i></a></li>
            <li ng-if="isOnline()"><a class="red" ng-click="disconnect()" tooltipped data-position="bottom" data-delay="50" data-tooltip="Logout" href=""><i
                    class="material-icons prefix"> settings_power</i></a></li>

        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li>You are currently offline</li>
            <li><a tooltipped href="#">Ask Question</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>