<div ng-controller="NavCtrl" ng-cloak>

    <md-fab-toolbar md-open="isOpen" md-direction="left">
        <md-fab-trigger class="align-with-text">
            <md-button aria-label="menu" class="md-fab" ng-class="isOnline()?'md-warn':'md-primary md-hue-1'">
                <md-icon md-font-set="material-icons">settings_remote</md-icon>
            </md-button>
        </md-fab-trigger>
        <md-toolbar>
            <md-fab-actions class="md-toolbar-tools">

                <md-button ng-if="isOnline()" ng-click="disconnect()">
                    <md-icon md-font-set="material-icons">power_settings_new</md-icon>
                    Leave
                </md-button>

                <md-button ng-click="showAsk()">
                    <md-icon md-font-set="material-icons ">sms</md-icon>
                    Question
                </md-button>

                <md-button ng-click="showSettings()">
                    <md-icon md-font-set="material-icons ">build</md-icon>
                    Settings
                </md-button>


            </md-fab-actions>
        </md-toolbar>
    </md-fab-toolbar>
</div>

