<div ng-controller="TranslationCtrl">
    <!-- angemeldet view form -->
    <div class="container">
        <div class="row">
            <div class="col s12">
                <br/>
                Hello <b>{{clientInfo.name}}</b> You are subscribed to a <b> {{localizeLang(clientInfo.lang).lang}}</b> translation...
            </div>
        </div>

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12">
                <p class="flow-text">Hello. Here is the new interesting message</p>

                <p class="flow-text">Hello. Here is the one more interesting message</p>

                <p class="flow-text">Here is the new interesting message</p>

                <p class="flow-text">Blabla</p>
            </div>
        </div>

    </div>
</div>