<md-dialog aria-label="Question answer" flex="85" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Answering the question</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-font-set="material-icons" aria-label="Close dialog">clear</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-content class="md-padding">
        <form name="userForm">
            <h3>{{question.questionSourceName}} asks:</h3>

            <div>
                <small>Question:</small>
                <br/>
                <b>{{question.questionTranslation}}</b>
            </div>
            <div>
                <br/>
                <small>Original:</small>
                <br/>
                {{question.questionText}}
            </div>
            <div>
                <br/>
                <br/>
            </div>

            <md-input-container layout-fill="">
                <label>Type your personal answer</label>
                <textarea ng-model="question.answer" columns="1" md-maxlength="1024" rows="5"></textarea>
            </md-input-container>
        </form>
    </md-content>
    <div class="md-actions" layout="row"><span flex></span>
        <md-button ng-click="send()">Send answer</md-button>
    </div>
</md-dialog>