<div layout="column" class=" md-padding">
    <p class="md-body-2  md-padding" style="color:gray; text-align: right;" >
        "... we do hear them speak in our tongues the <span style="color: darkred;">wonderful works of God.</span>" <small>Acts 2,11</small>
    </p>
    <p class="md-body-2  md-padding" style="color:gray; text-align: right;">Powered by <a href="http://translate.yandex.com/" style="color:gray;">Yandex</a>.Translate<br/>Bible reference from <a href=" http://www.Bible.is" style="color:gray;">bible.is</a></p>

</div>