<div layout="row" ng-controller="NavCtrl" ng-cloak>
    <div class="md-padding" flex="40"><img src="img/logo.png"></div>

    <div layout="row" layout-align="end start" flex="60">
        <div ng-if="isOnline()" layout="row" layout-align="end start" flex="60">
            <md-button ng-click="disconnect()" ng-if="isOnline()" class="md-raised md-warn">
                <md-icon md-font-set="material-icons">power_settings_new</md-icon>
                <span class="hide-sm hide-xs">Leave</span>
            </md-button>
        </div>
    </div>
</div>