<div ng-controller="NavCtrl">
    <div layout="row" ng-cloak>
        <div class="md-padding">
            <img src="img/logo_small.png" style="width: 40px"></div>
        <div class="md-padding"
             layout="row" xs-flex="70" flex="80" layout-align="left center">
            <h2 style="color:grey">
                {{getInfo().brand}}
            </h2>
        </div>
        <div layout="row" layout-align="end start"  xs-flex="40" flex="30">
            <div ng-if="isOnline()" layout="row" layout-align="end start" >
                <md-button ng-click="disconnect()" class="md-raised md-warn">
                    <md-icon md-font-set="material-icons">power_settings_new</md-icon>
                    <span class="hide-sm hide-xs">Leave</span>
                </md-button>
            </div>
        </div>
    </div>
</div>