<div ng-controller="TranslationPanelCtrl">
    <!-- angemeldet view form -->
    <div layout="column" layout-align="left center" layout-no-wrap>


        <md-tabs layout-fill md-selected="selectedIndex" md-dynamic-height md-autoselect>
            <md-tab ng-repeat="language in languages | filter:{known:true}"
                    md-on-select="updateCurrentLanguage(language)"
                    label="{{language.lang}}">

                <div layout="row">
                    <md-input-container layout-fill="" class="md-block">
                        <label>Type your next translation sentence</label>
                    <textarea required ng-model="message.text" columns="1" rows="5"
                              ng-keydown="evaluateKeyPress($event)"></textarea>

                    </md-input-container>
                    <div layout="column">
                        <md-button ng-click="sendMessage()">
                            <md-icon md-font-set="material-icons">send</md-icon>
                        </md-button>
                        <md-button ng-click="undo()">
                            <md-icon md-font-set="material-icons">undo</md-icon>
                        </md-button>
                    </div>

                </div>
                <div style="height:20px;">
                    <i class="md-body-2 md-padding check-element animate-show"
                       ng-show="statusMessage">{{statusMessage}}</i>
                </div>

            </md-tab>
        </md-tabs>

        <div>
            <p class="md-body-2 md-padding"> Hello <b>{{senderInfo.name}}</b> You are currently translating <b>
                {{localizeLang(message.language).lang}}</b> and see <b>{{localizeLang(originLanguage).lang}}</b> output
            </p>
        </div>

        <div infinite-scroll="incShowedMsgs()">

            <div layout="row" ng-repeat="item in messages | orderBy:'-timestamp' | limitTo:showLastMsgCount  "
                 class="animate-repeat">
                <div class="md-list-item-text md-title md-padding" ng-if="item.type=='message'">
                    <span ng-class="localizeLang(originLanguage.lang).rtl ? 'rtl_text' : ''"> {{item.translation}}</span><br/>
                    <small class="md-caption">{{formatDate(item.timestamp)}} by {{item.sourceName}}</small>
                </div>

                <div class="md-list-item-text md-title md-padding" ng-if="item.type=='question'">

                    <div layout="row">
                        <md-button ng-click="answerQuestion(item)">
                            <md-icon md-font-set="material-icons">chat bubble</md-icon>
                        </md-button>
                        <div layout="column">
                            <span class="md-caption">New question:</span>
                            <br/>
                            <span class="clientQuestion"><b>{{item.translation}}</b></span><br/>
                            <small ng-class="localizeLang(item.sourceLanguage).rtl ? 'rtl_text' : ''"> {{item.text}}
                            </small>
                            <br/>
                            <small class="md-caption">{{formatDate(item.timestamp)}} by {{item.sourceName}}
                                ({{localizeLang(item.sourceLanguage).lang}})
                            </small>
                        </div>
                    </div>
                </div>

            </div>

        </div>


    </div>
</div>